.f-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}
.f-product {
  text-align: center;
  border-radius: 5px;
  border: 2px solid #b7f6b1b2;
  transition: 0.15s ease-in-out;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--product-color);

  height: 600px;
  width: 400px;
  margin: 5px;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 5% 45% 30% 10%;
  gap: 0px 0px;
  place-items: center;

  overflow: hidden;
  position: relative;
}

.f-product:hover {
  background-color: rgba(209, 218, 225, 0.721);
}
.f-product:active {
  background-color: rgba(65, 65, 112, 0.176);
}
.f-product img {
  max-width: 90%;
  height: auto;
  width: auto;
  margin-inline: auto;
  max-height: 100%;
}

.f-product del {
  color: red;
}
.f-product b {
  color: green;
  font-size: large;
}
.f-product a {
  text-decoration: none;
  color: white;
  background-color: rgb(24, 121, 24);
  padding: 5px 20px;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
  transition: 0.2s ease-in-out;
  outline: 2px solid rgba(0, 0, 0, 0.139);
  border: none;
}
.f-product a:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.63);
  color: antiquewhite;
  cursor: pointer;
}
.f-product div {
  text-align: left;
  width: 100%;
  padding-left: 5%;
  line-height: 1.4rem;
  display: flex;
  align-items: center;
}
.f-best {
  font-weight: 700;
  background-color: yellow;
  color: black;
  transform: rotate(315deg);
  padding: 3px 40px;
  position: relative;
  left: 155px;
  top: -35px;
}
.f-product h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
@media screen and (max-width:1200px){
  .f-product {
    height: 600px;
    width: 35vw;
    margin: 5px;
    padding: 5px;
  }
  .f-product div {
    text-align: left;
    width: 100%;
    padding-left: 5%;
    line-height: 1.1rem;

  }
  .f-best {
    padding: 3px 40px;
    position: relative;
    left: 40%;
    top: -50px;
  }
  .f-container {
    min-height: 60vh;
  }
}
@media screen and (max-width:950px){
  .f-best {
    left: 37%;
  }
}

@media screen and (max-width:800px){
  .f-product {
    height: 500px;
    width: 90%;
    margin: 5px;
    padding: 5px;
  }
  .f-container {
    min-height: 60vh;
  }
  .f-best {
    padding: 3px 60px;
    left: 43%;
    top: -50px;
  }
  
}
@media screen and (max-width:500px){
  .f-best {
    padding: 3px 30px;
    left: 40%;
  }
}