.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  position: fixed;
  top: 0;
  background-image: url('/assets/wood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}
.navbar-label {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  margin-left: 20px;
}

.navbar-label:hover{
  color: rgb(196, 210, 253);
}
.navbar-label h2 {
  font-weight: 700;
  font-style: italic;
  padding-left: 10px;
  margin-bottom: unset;
}
.navbar a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.theme-burger-container{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 10px;
}

/* burger menu */
.navbar .main-menu {
  display: flex;
}
.main-menu li a {
  display: inline-block;
  padding: 10px 20px;
}
li a:hover {
  color: rgb(196, 210, 253);
}
.menu-btn {
  display: none;
}
.active-link {
border-bottom: 3px solid white;
}


@media screen and (max-width: 860px) {
  .main-menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 5px;
    flex-direction: column;
    background-color: #7b7b7bc9;
    backdrop-filter: blur(4px);
    transition: 0.5s all ease;
    /* visibility: hidden; */
    display: none;
    align-items: center;
    transform: translateY(-800px);
    z-index: 9;
  }

  .main-menu.show {
    transform: translateY(0px);
    transition: 1s all ease;
    z-index: 8;
  }
  .main-menu li a {
    display: block;
  }
  .menu-btn {
    display: block;
    position: relative;
    color: white;
    font-size: 2rem;
    margin: 0 5px 0 15px;
  }
  .dark{
    color: rgb(220, 220, 220);
  }
  .theme-burger-container{
    flex-direction: row;
  }
}
